
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.body{
    background: radial-gradient(182.36% 97.74% at 50% 100%, #12E0EB 0%, #1C66EF 34.5%, #0A0623 81.5%, #141415 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

textarea,
input {
    resize: none;
}

img {
    pointer-events: none;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    overflow: hidden;
}

.logo{
    width: 274px;
    height: 76px;
    margin: 0 auto;
}
.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    margin: 45px auto 15px;
    color: #FFFFFF;

}
.text{
    font-family:  "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 27px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.coins{
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
}